img {
  width: 90px;
  height: 120px;
  border: solid 2px darkblue;
  border-radius: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  margin: auto;
  width: 60%;
}

.memory-card {
  margin: 20px;
}
