img {
  width: 90px;
  height: 120px;
  border: solid 2px darkblue;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, 155px);
  margin: auto;
  width: 60%;
  min-width: 500px;
}

.memory-card {
  margin: 20px;
  position: relative;
  perspective: 75rem;
  transform: scale(1);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card:hover {
  cursor: pointer;
}

.back,
.front {
  position: absolute;
  top: 0;
  left: 0;
  /* users cannot see the back side of the flipping card when front is showing */
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}

/* the front side is initially rotated across the y-axis 180 degrees to the back
and will therefore be hidden by the bacface visibility property */
.front {
  transform: rotateY(180deg);
}

.memory-card.flip {
  pointer-events: none;
}

.memory-card.flip .front {
  transform: rotateY(0deg);
}

.memory-card.flip .back {
  transform: rotateY(-180deg);
}

.image-opacity {
  /* visibility property makes the element invisible and transparent to events (clicks etc)
it does not hide the element (does not change the display - not reflowing the document) */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

button {
  background-color: blue;
  color: whitesmoke;
  border: solid 1px blue;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5),
    inset 0px 0px 2px rgba(154, 147, 113, 0.95);
  font-size: 1rem;
  padding: 5px 10px;
  transform: scale(1);
}

button:active {
  transform: scale(0.96);
}

button:hover {
  background: linear-gradient(45deg, #1e2d82, #26c4f7);
  cursor: pointer;
}
