body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  background-color: mintcream;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
